<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="pro.rudloff.search_to_browser">
    <!-- The Dialog.NoActionBar theme makes the activity basically invisible. -->
    <application android:name=".MainApplication" android:label="Search to browser" android:allowBackup="false"
                 android:icon="@android:drawable/ic_menu_search"
                 android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.search.action.GLOBAL_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
